.square {
    width: 200px;
    height: 200px;
    position: absolute;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.forward {
    z-index: 1;
}

.i1 {
    top: 20px;
    left: 20px;
}

.i2 {
    top: 50px;
    left: 50px;
}

.i3 {
    top: 80px;
    left: 80px;
}

.i4 {
    top: 20px;
    left: 420px;
}

.i5 {
    top: 50px;
    left: 450px;
}

.i6 {
    top: 80px;
    left: 480px;
}

.i7 {
    top: 20px;
    left: 820px;
}

.i8 {
    top: 50px;
    left: 850px;
}

.i9 {
    top: 80px;
    left: 880px;
}
